<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Average stock</title>
</head>
<body>
<header>
    <h1>My shop</h1>
</header>
<a href="/only-available">ONLY AVAILABLE</a>
<a href="/cheapest-first">CHEAPEST FIRST</a>
<a href="/contains-nike">CONTAINS NIKE</a>
<a href="/average-stock">AVERAGE STOCK</a>
<a href="/most-expensive-available">MOST EXPENSIVE AVAILABLE</a>
<br>
<h4>Average stock: </h4>
<h5 th:text="${averageStock}"></h5>
</body>
</html>