<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Most expensive item</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>My shop</h1>
</header>
<a href="/only-available">ONLY AVAILABLE</a>
<a href="/cheapest-first">CHEAPEST FIRST</a>
<a href="/contains-nike">CONTAINS NIKE</a>
<a href="/average-stock">AVERAGE STOCK</a>
<a href="/most-expensive-available">MOST EXPENSIVE AVAILABLE</a>
<br>
<form method="post" action="/search">
    <label for="search" class="searchlabel">Search for:</label>
    <br>
    <input id="search" name="search" type="search" placeholder="something like Nike">
    <button>Search</button>
</form>
<h4 th:text="${info}"></h4>
</body>
</html>