<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Shop</title>
</head>
<body>
<header>
    <h1>My shop</h1>
</header>
<a href="/only-available">ONLY AVAILABLE</a>
<a href="/cheapest-first">CHEAPEST FIRST</a>
<a href="/contains-nike">CONTAINS NIKE</a>
<a href="/average-stock">AVERAGE STOCK</a>
<a href="/most-expensive-available">MOST EXPENSIVE AVAILABLE</a>
<br>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.price} + ' Ft'"></td>
        <td th:text="${item.quantityOfStock}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>