<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<H3>Accounts in Bank of Simba:</H3>
<table>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Animaltype</th>
        <th>Index</th>
        <th>Is King?</th>
        <th>What guy</th>
    </tr>
    <tr th:switch="${account.name}" th:each="account : ${accounts}" th:object="${account}" th:id="${account.isKing()}">
        <td th:text="*{name}"></td>
        <td th:text="*{balance}"></td>
        <td th:text="*{animaltype}"></td>
        <td th:text="${accountStat.index}"></td>
        <td th:text="*{isKing()} ? 'yes' : 'no'">

        <td th:case="'Simba'">Good guy</td>
        <td th:case="'Mufasa'">Good guy</td>
        <td th:case="'Timon'">Good guy</td>
        <td th:case="'Scar'">Also good guy</td>

</table>
</body>
</html>