<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<H3>Accounts in Bank of Simba:</H3>
<table>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Animaltype</th>
        <th>Index</th>
        <th>Is King?</th>
        <th>What guy</th>
    </tr>
    <tr th:each="account : ${accounts}" th:object="${account}" th:class="${account.isKing()}? 'king'">
        <td th:text="*{name}"></td>
        <td th:text="*{balance}"></td>
        <td th:text="*{animaltype}"></td>
        <td th:text="${accountStat.index}"></td>
        <td th:text="*{isKing()} ? 'yes' : 'no'">

        <td th:if="*{name == 'Scar'}">Also good guy</td>
        <td th:unless="*{name == 'Scar'}">Good guy</td>
    </tr>
</table>
</body>
</html>